.container
    .jumbotron
        h1.text-center Daycare Center Web
        p.text-center Welcome to the daycare center web!
    .row
        .col-md-6
            div(ng-include="'partials/frontpage-photo'")
        .col-md-6
            div(ng-include="'partials/contact'")
