.navbar-right
    form.navbar-form
        ul
            .form-group
                input.form-control(placeholder="Username")
            .form-group
                input.form-control(type="password", placeholder="Password")
            button.btn Sign in