doctype
html
    head
        script(type="text/javascript", src="/vendor/angular/angular.js")
        script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/bootstrap.css")

    body
        h1 Daycare App
        p(ng-app) If this says 4, then angular is installed: {{2 + 2}}
