.container
    h1 Frequently asked questions
    p
        h3 Q: How to I apply to the daycare?
        h3 A: Please contact us via email or phone.
    p
        h3 Q: At what age can my child start attending daycare?
        h3 A: Your child should be at least 1 year old.
