.container
    form(name="childForm" ng-show="identity.isAuthenticated()")
        .form-group
            label First name
            input.form-control(placeholder="First name", type="text", ng-model="firstname", required)
            label Last name
            input.form-control(placeholder="Last name", type="text", ng-model="lastname", required)
            label Birthdate
            input.form-control(placeholder="Birthdate", type="date", ng-model="birthdate", required)
            .pull-right
                button.btn(ng-click="createChild()", ng-disabled="childForm.$invalid") Submit
    label(ng-hide="identity.isAuthenticated()")
        p Please log in to access this page.