doctype

html
    head
        base(href="/")
        title DaycareWeb
        link(rel="stylesheet", href="/vendor/bootstrap/dist/bootstrap.css")
    body(ng-app='app')
        if !!someVar
            p THERE WAS SOMETHING THERE!!!!
        block main-content
        include scripts
