doctype

html
    head
        base(href="/")
        title DaycareWeb
        link(rel="stylesheet", href="/vendor/bootstrap/dist/bootstrap.css")
    body(ng-app='app')
        if !!userVar
            script.
                window.thePersistantUser = !{JSON.stringify(userVar)}
        block main-content
        include scripts
