doctype

html
    head
        base(href="/")
        title DaycareWeb
        link(rel="stylesheet", href="/vendor/bootstrap/dist/bootstrap.css")
    body(ng-app='app')
        block main-content
        include scripts
